<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>
		hako-dao-demo-blog
	</display-name>
	<description>
		blog demo of hako-dao
	</description>

	<servlet>
		<servlet-name>indexServlet</servlet-name>
		<servlet-class>org.hako.dao.demo.blog.servlet.IndexServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>indexServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

</web-app>
